<style type="text/css">
#playerBG, .playerBG {
    background-image:url(PlayerBG-Green_1.gif);
    background-repeat:no-repeat;
    height:38px;
    width:156px;
    
    }
.scroller {
    position:absolute;
    }
a.playList:link, a.playList:visited {
    font-family:Arial, Verdana, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:black;
    }
.expandBtn {
	top: 0px;
	position: absolute;
	left: 120px;
	width:15px;
	height150px;
	z-index:0;
	}
a.expandBtn:link, a.expandBtn:visited { font-size:10px; }
#marquee_replacement{
 border:0px solid #000;
 width:150px;
 height:16px;
 overflow:hidden;
}

#marquee_replacement div#start p{
 padding:0;
 margin:0;
 left:0;
 width:auto;
 display:inline;
 float:left;
 white-space: nowrap;
 height:15px;
}

#marquee_replacement div#start p.spacer{
 width:1100px;
}
#marquee_replacement div#start{
 display:block;
 height:14px;
}
#marqueePosition {
    position:absolute;
    top:12px;
    left:85px;
    }

</style>